name: go-lint-multimod

on:
  workflow_call:
    inputs:
      go-version:
        type: string
        description: "go version to lint with"
        default: "stable"
      os-version:
        type: string
        default: ubuntu-latest

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ inputs.os-version }}

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/go@main
      - uses: ./.github/actions/mkcert@main
      - uses: ./.github/actions/pebble@main
      - uses: ./.github/actions/chrome@main

      - name: Test
        run: multimod --config=.multimod.yaml lint

      - name: Vulnerability
        run: multimod --config=.multimod.yaml govuln
