name: go-lint-multimod

on:
  workflow_call:
    inputs:
      go-version:
        type: string
        description: "go version to lint with"
        default: "stable"
      runner:
        type: string
        default: |
          [
            "ubuntu-latest"
          ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ${{ fromJson(inputs.runner) }}

    steps:
      - uses: actions/checkout@v5
      - uses: cloudengio/.github/.github/actions/go@main

      - name: Lint
        run: multimod --config=.multimod.yaml lint

      - name: Vulnerability
        run: multimod --config=.multimod.yaml govuln
