name: go-test-multimod

on:
  workflow_call:
    inputs:
      go-versions:
        type: string
        description: 'Possibly multiple versions to test, as a json multi-line string ["1.15", "1.16"]'
        default: |
          [
            "1.24.x",
            "1.25.x" 
          ]
      runner:
        type: string
        default: |
          [
            "ubuntu-latest"
          ]
      multimod-action:
        type: string
        default: "test"
      with-webapp:
        type: boolean
        default: false
      with-pebble:
        type: boolean
        default: false
      with-chrome:
        type: boolean
        default: false
      with-mkcert:
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: ${{ fromJson(inputs.go-versions) }}

    runs-on: ${{ fromJson(inputs.runner) }}

    steps:
      - uses: actions/checkout@v5
      - uses: cloudengio/.github/.github/actions/go@main
      - if: ${{ inputs.with-webapp || inputs.with-pebble }}
        uses: cloudengio/.github/.github/actions/pebble@main
      - if: ${{ inputs.with-webapp || inputs.with-chrome }}
        uses: cloudengio/.github/.github/actions/chrome@main
        id: setup-chrome
      - if: ${{ inputs.with-webapp || inputs.with-mkcert }}
        uses: cloudengio/.github/.github/actions/mkcert@main

      - name: test
        env:
          CHROME_BIN_PATH: ${{ steps.setup-chrome.outputs.chrome-path }}
          CHROME_USER_DATA_DIR: ${{ steps.setup-chrome.outputs.chrome-user-data-dir }}
        run: multimod --config=.multimod.yaml ${{ inputs.multimod-action }}
